body {
    margin: 0;
    padding: 0;
    background-color: #272224;
    color: #ffffff;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: auto;
    gap: 10px;
}

/* Fonts */

@font-face {
    font-family: 'montserrat';
    src: url('resources/fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}

@font-face {
    font-family: 'montserrat-semi-bold';
    src: url('resources/fonts/Montserrat-SemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'montaga';
    src: url('resources/fonts/Montaga/Montaga-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'odor-mean-chey';
    src: url('resources/fonts/Odor_Mean_Chey/OdorMeanChey-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'oleo-script-bold';
    src: url('resources/fonts/Oleo_Script_Swash_Caps/OleoScriptSwashCaps-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'oleo-script';
    src: url('resources/fonts/Oleo_Script_Swash_Caps/OleoScriptSwashCaps-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Kunstler';
    src: url('resources/fonts/KUNSTLER.TTF') format('truetype');
}

.section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    max-width: 800px;
}

.down-arrow {
    position: absolute;
    bottom: 5vb;
    animation: down-arrow 3s infinite;
    z-index: 100;
}

.down-arrow svg {
    animation: glow 3s infinite;
}

@keyframes down-arrow {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(10px);
    }

    100% {
        transform: translateY(0);
    }
}

@keyframes glow {
    0% {
        filter: drop-shadow(0 0 0 #E99FBE);
    }

    50% {
        filter: drop-shadow(0 0 20px #E99FBE);
    }

    100% {
        filter: drop-shadow(0 0 0 #E99FBE);
    }
    
}

/* TOP SECTION */

.top img {
    width: 100%;
    height: auto;
}

.top h1 {
    top: -60px;
    margin: 0;
    position: inherit;
    font-size: 108px;
    font-family: 'Kunstler', sans-serif;
}

/* Mis16 SECTION */

.decoration {
    margin: 40px 0;
}

.decoration .mis16 {
    width: 100%;
    height: auto;
}

.decoration .ball1 {
    position: absolute;
    top: -50%;
    left: 0;
    width: 7rem;
}

.decoration .ball2 {
    position: absolute;
    bottom: -50%;
    right: 0;
    width: 7rem;
}

/* AUDIO SECTION */

.audio p {
    font-family: 'oleo-script', sans-serif;
    font-size: 18px;
    margin: 0;
    color: #777274;
}

.audio .controls {
    margin: 20px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

/* TEXT SECTION */

.content {
    position: relative;
    background-image: url('resources/STARS.png');
    background-size: cover;

}

.stars {
    position: absolute;
    top: 0;
    left: 0;
    width: 150%;
    height: auto;
}

.galaxy {
    position: relative;
    margin: 80px 0;
}

.galaxy p {
    font-family: 'montserrat', sans-serif;
    font-weight: 600;
    font-size: 15px;
    margin: 80px 30px;
    color: #A4A4A4;
    text-align: center;
    line-height: 1.8;
}

.galaxy .date {
    width: 100%;
    height: auto;
}

/*  COUNTDOWN */

.countdown {
    position: relative;
    margin: 50px 0;
}

.countdown img {
    width: 100%;
    height: auto;
}

/* CARROUSEL */

.carrousel {
    width: 100%;
    height: auto;
    background-color: #201c1d;
    padding: 50px 0;
}

.carrousel h3 {
    font-family: 'oleo-script', sans-serif;
    font-size: 24px;
    margin: 0;
    color: #E99FBE;
}

.carrousel-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 15px;
    overflow: auto;
    margin: 20px;
}

.carrousel-item {
    background-color: #fff;
    color: #000;
    padding: 25px 25px 70px 25px;
}

.carrousel-item:first-child {
    margin-left: 20px;
}

.carrousel-item img {
    width: 250px;
    height: auto;
}

/* MODAL */

.modal-image {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-image .modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

.modal-image img {
    width: 100%;
    height: auto;
}

.modal-image .close {
    color: #aaa;
    float: right;
    font-family: 'oleo-script', sans-serif;
    font-size: 38px;
    font-weight: bold;
}

.modal-image .close:hover,
.modal-image .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* INFORMATION SECTION */

.line {
    margin: 25px 0;
}

.information {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    width: auto;
    height: auto;
    margin: 25px 50px;
    padding: 50px 20px;
    background-color: #474747;
    border-radius: 10px;
    gap: 10px;
}

.information h3 {
    font-family: 'montserrat', sans-serif;
    font-size: 24px;
    margin: 0;
    color: #E99FBE;
}

.information h4 {
    font-family: 'montserrat', sans-serif;
    font-size: 15px;
    margin: 15px 0;
    text-align: center;
}

.information p {
    font-family: 'montserrat', sans-serif;
    font-size: 18px;
    margin: 0;
    color: #b3abae;
    text-align: center;
    min-width: 150px;
    max-width: 300px;
}

.information img {
    width: 64px;
    height: 64px;
}

.information .circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: #E99FBE;
}

.information a {
    text-decoration: none;
    margin: 30px 0;
}

.information a:hover {
    text-decoration: underline;
}

.information a span {
    color: #000000;
    font-family: 'montserrat', sans-serif;
    font-size: 16px;
    font-weight: 600;
    padding: 10px 30px;
    border-radius: 20px;
    background: linear-gradient(147.84deg, #dfdfdf -7.48%, #676767 12.23%, #dadada 26.44%, #ececec 78.54%, #676767 100.59%, #fff 125.99%);
    box-shadow: 0px 4px 4px 0 rgba(0, 0, 0, 0.25);
    text-decoration: underline;
    cursor: pointer;
    text-wrap: nowrap;
}

/* DISCOBALL */
.discoball-info {
    position: absolute;
    top: 0;
    left: 0;
    width: 100px;
    height: auto;
}

.discoball2-info {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100px;
    height: auto;
}

/* BUTTON */
.button {
    position: relative;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    margin: 25px 0;
    padding: 50px 0;
    background-color: #474747;
    border-radius: 10px;
    gap: 10px;
}

/* FULL IMAGE */

.image-full {
    position: relative;
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    background-image: url('resources/STARS.png');
    background-size: cover;
    padding: 50px 0;
}

.image-full img {
    width: 80%;
    height: auto;
    border-radius: 10px;
    box-shadow: 14px 12px 12px rgba(255, 255, 255, 0.2);
}

/* FOOTER */

.footer {
    position: relative;
    font-family: 'montserrat', sans-serif;
    width: 100%;
    height: auto;
    background-color: #161616;
    padding: 80px 0;
    text-align: center;
    gap: 10px;
}

.footer h3 {
    margin: 0;
}

.footer p {
    font-family: 'montserrat', sans-serif;
    font-size: 14px;
    color: #A4A4A4;
    margin: 0;
}

.footer a {
    text-decoration: none;
}

.footer .btn {
    display: inline-flex;
    position: relative;
    align-items: center;
    justify-content: center;
    background-color: #E99FBE;
    color: #000000;
    padding: 10px 30px;
    font-family: 'montserrat', sans-serif;
    font-size: 20px;
    font-weight: 800;
    border-radius: 30px;
    gap: 10px;

}

/* ANIMATIONS */

.scale-up-center {
    -webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
    animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}
.slide-top {
    -webkit-animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    animation: slide-top 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-right {
    -webkit-animation: slide-right .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-right .5s cubic-bezier(.25, .46, .45, .94) both
}

.slide-left {
    -webkit-animation: slide-left .5s cubic-bezier(.25, .46, .45, .94) both;
    animation: slide-left .5s cubic-bezier(.25, .46, .45, .94) both
}

/**
 * ----------------------------------------
 * animation scale-up-center
 * ----------------------------------------
 */
@-webkit-keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

@keyframes scale-up-center {
    0% {
        -webkit-transform: scale(0.5);
        transform: scale(0.5);
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
    }
}

/**
 * ----------------------------------------
 * animation slide-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

@keyframes slide-right {
    0% {
        -webkit-transform: translateX(-100px);
        transform: translateX(-100px);
    }

    100% {
        -webkit-transform: translateX(0px);
        transform: translateX(0px);
    }
}

/**
 * ----------------------------------------
 * animation slide-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

@keyframes slide-left {
    0% {
        -webkit-transform: translateX(100px);
        transform: translateX(100px);
    }

    100% {
        -webkit-transform: translateX(0);
        transform: translateX(0);
    }
}

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes slide-top {
    0% {
        -webkit-transform: translateY(30px);
        transform: translateY(30px);
    }
    
    100% {
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}